In [1]:
CREATE TABLE locations (
    location_id TINYINT PRIMARY KEY,
    region NVARCHAR(50),
    country NVARCHAR(20),
    population INT,
    density INT 
);

CREATE TABLE make_details(
    make_id SMALLINT PRIMARY KEY,
    make_name NVARCHAR(50),
    make_type NVARCHAR(50)
);


CREATE TABLE stolen_vehicles (
    vehicle_id SMALLINT PRIMARY KEY,
    vehicle_type NVARCHAR(50),
    make_id SMALLINT,
    model_year SMALLINT,
    vehicle_age TINYINT,
    vehicle_desc NVARCHAR(100),
    color NVARCHAR(30),
    date_stolen DATE,
    weekday_stolen NVARCHAR(10),
    location_id TINYINT,
    CONSTRAINT location_FK FOREIGN KEY(location_id) REFERENCES locations(location_id),
    CONSTRAINT make_FK FOREIGN KEY(make_id) REFERENCES make_details(make_id)
);

In [19]:
SELECT TOP 3 * FROM locations;

SELECT TOP 3 * FROM make_details;

SELECT TOP 3 * FROM stolen_vehicles;

location_id,region,country,population,density
101,Northland,New Zealand,201500,1611
102,Auckland,New Zealand,1695200,34309
103,Waikato,New Zealand,513800,215

make_id,make_name,make_type
501,Aakron Xpress,Standard
502,ADLY,Standard
503,Alpha,Standard

vehicle_id,vehicle_type,make_id,model_year,vehicle_age,vehicle_desc,color,date_stolen,weekday_stolen,location_id
1,Trailer,623,2021,4,BST2021D,Silver,2021-11-05,Fri,102
2,Boat Trailer,623,2021,4,OUTBACK BOATS FT470,Silver,2021-12-13,Mon,105
3,Boat Trailer,623,2021,4,ASD JETSKI,Silver,2022-02-13,Sun,102

In [1]:
SELECT l.region, COUNT(*) AS "num_thefts"
FROM stolen_vehicles s JOIN locations l ON s.location_id = l.location_id
GROUP BY l.region 
ORDER BY num_thefts DESC;

region,num_thefts
Auckland,1630
Canterbury,660
Bay of Plenty,445
Wellington,417
Waikato,369
Northland,234
Gisborne,175
Otago,139
Manawatū-Whanganui,139
Taranaki,112
Hawke's Bay,100
Nelson,92
Southland,26

In [6]:
WITH regional_thefts AS (
    SELECT l.region, COUNT(*) AS "num_thefts"
    FROM stolen_vehicles s JOIN locations l ON s.location_id = l.location_id
    GROUP BY l.region
)

SELECT 
    rt.region,
    rt.num_thefts,
    l.population,
    l.density,
    FORMAT(ROUND((1.0 * rt.num_thefts / l.population) * 1000,2),'N2') AS "thefts_per1000"
FROM locations l JOIN regional_thefts rt ON l.region = rt.region
ORDER BY thefts_per1000 DESC;

region,num_thefts,population,density,thefts_per1000
Gisborne,175,52100,621,3.36
Nelson,92,54500,12915,1.69
Bay of Plenty,445,347700,288,1.28
Northland,234,201500,1611,1.16
Canterbury,660,655000,1472,1.01
Auckland,1630,1695200,34309,0.96
Taranaki,112,127300,1755,0.88
Wellington,417,543500,6752,0.77
Waikato,369,513800,215,0.72
Otago,139,246000,789,0.57
Hawke's Bay,100,182700,1292,0.55
Manawatū-Whanganui,139,258200,1162,0.54
Southland,26,102400,328,0.25

In [4]:
SELECT region, population, density 
FROM locations l 
WHERE location_id NOT IN (
    SELECT location_id
    FROM stolen_vehicles
    GROUP BY location_id
)

region,population,density
Tasman,58700,61
Marlborough,51900,494
West Coast,32700,141

In [3]:
-- Average age of a stolen vehicle(at the time of the theft)
SELECT AVG(vehicle_age) AS "avg_age"
FROM stolen_vehicles

avg_age
16

In [6]:
SELECT m.make_type, COUNT(*) AS "num_thefts"
FROM stolen_vehicles s JOIN make_details m ON s.make_id = m.make_id
GROUP BY m.make_type

make_type,num_thefts
Luxury,190
Standard,4348

In [8]:
SELECT TOP 10 make_name, COUNT(*) AS "num_thefts"
FROM stolen_vehicles s JOIN make_details m ON s.make_id = m.make_id
GROUP BY m.make_name
ORDER BY num_thefts DESC;

make_name,num_thefts
Toyota,716
Trailer,543
Nissan,482
Mazda,433
Ford,312
Honda,271
Mitsubishi,204
Subaru,202
Suzuki,164
Holden,160

In [9]:
SELECT vehicle_type, COUNT(*) AS "num_thefts"
FROM stolen_vehicles 
GROUP BY vehicle_type
ORDER BY num_thefts DESC;

vehicle_type,num_thefts
Stationwagon,945
Saloon,851
Hatchback,644
Trailer,582
Utility,466
Roadbike,297
Moped,187
Light Van,154
Boat Trailer,105
Trailer - Heavy,90
Caravan,44
Other Truck,42
Sports Car,40
Flat Deck Truck,17
Mobile Home - Light,15
Convertible,12
Unknown,11
Cab and Chassis Only,8
Heavy Van,7
Light Bus,6
All Terrain Vehicle,5
Tractor,4
Mobile Machine,2
Trail Bike,2
Special Purpose Vehicle,1
Articulated Truck,1

In [10]:
SELECT YEAR(date_stolen) AS "year", COUNT(*) AS "num_thefts"
FROM stolen_vehicles
GROUP BY YEAR(date_stolen);

year,num_thefts
2021,1663
2022,2875

In [1]:
SELECT 
    CASE 
        WHEN MONTH(date_stolen) = 1 THEN 'January'
        WHEN MONTH(date_stolen) = 2 THEN 'February'
        WHEN MONTH(date_stolen) = 3 THEN 'March'
        WHEN MONTH(date_stolen) = 4 THEN 'April'
        WHEN MONTH(date_stolen) = 5 THEN 'May'
        WHEN MONTH(date_stolen) = 6 THEN 'June'
        WHEN MONTH(date_stolen) = 7 THEN 'July'
        WHEN MONTH(date_stolen) = 8 THEN 'August'
        WHEN MONTH(date_stolen) = 9 THEN 'September'
        WHEN MONTH(date_stolen) = 10 THEN 'October'
        WHEN MONTH(date_stolen) = 11 THEN 'November'
        ELSE 'December'
    END AS MonthName,
    COUNT(*) AS "num_thefts"
FROM stolen_vehicles
GROUP BY MONTH(date_stolen)
ORDER BY num_thefts;

MonthName,num_thefts
April,327
October,462
November,559
December,642
January,740
February,758
March,1050

In [16]:
SELECT DAY(date_stolen) AS "Day", COUNT(*) AS "num_thefts"
FROM stolen_vehicles
GROUP BY DAY(date_stolen)
ORDER BY DAY(date_stolen);

Day,num_thefts
1,184
2,175
3,133
4,190
5,193
6,121
7,141
8,136
9,124
10,132
11,144
12,137
13,137
14,160
15,148
16,138
17,165
18,140
19,130
20,133
21,157
22,148
23,148
24,142
25,152
26,141
27,151
28,177
29,125
30,126
31,110

In [20]:
SELECT weekday_stolen, COUNT(*) AS "num_thefts"
FROM stolen_vehicles
GROUP BY weekday_stolen
ORDER BY 
    CASE
        WHEN weekday_stolen = 'Mon' THEN 1
        WHEN weekday_stolen = 'Tue' THEN 2 
        WHEN weekday_stolen = 'Wed' THEN 3 
        WHEN weekday_stolen = 'Thu' THEN 4 
        WHEN weekday_stolen = 'Fri' THEN 5 
        WHEN weekday_stolen = 'Sat' THEN 6
        WHEN weekday_stolen = 'Sun' THEN 7
    END ASC;

weekday_stolen,num_thefts
Mon,762
Tue,708
Wed,625
Thu,618
Fri,654
Sat,576
Sun,595